<ion-content>
  <ion-toolbar color="primary">
    <ion-title>Profil</ion-title>
  </ion-toolbar>

  <ion-list lines="none" *ngFor="let p of petugas">
    <ion-item lines="none" style="--background: inherit;">
      <img src="./assets/logos/woman.png"
        style="width: 80px; height: 80px; margin-right: 8px;margin-bottom: 8px; margin-top: 8px;">
      <ion-label>
        <h3 style="font-weight: bold;">{{p.nama}}</h3>
        <h5>Petugas UKS</h5>
      </ion-label>
    </ion-item>
  </ion-list>
  <form>
    <ion-button routerLink='/homepetugas/editprofile' expand="block" fill="outline" shape="round">
      ubah profil
    </ion-button>
    <ion-button (click)="logout()" expand="block" color="primary" shape="round">
      keluar
    </ion-button>
  </form>
</ion-content>