<ion-content>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homepetugas/confirmpemeriksaan">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detail Kejadian</ion-title>
  </ion-toolbar>

  <ion-segment [(ngModel)]="tabActive">
    <ion-segment-button value="terima">
      <ion-label>Terima</ion-label>
    </ion-segment-button>
    <ion-segment-button value="belum">
      <ion-label>Belum</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="tabActive === 'terima'">
    <ion-list>
      <ion-item-group *ngFor="let k of kelas">
        <ion-item-divider>
          <ion-label>{{k.kelas}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let s of siswaacc;">
          <ion-item *ngIf="(s.kelasid==k.id)" routerLink="/homepetugas/detailchat//{{s.ortutoken}}/{{s.ortuid}}">
            <ion-label>{{s.nama}}</ion-label>
          </ion-item>
        </div>

      </ion-item-group>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="tabActive === 'belum'">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <form>
            <ion-button (click)="remindkejadian()" fill="outline" shape="round">
              Kirim Pengingat
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item-group *ngFor="let k of kelas">
        <ion-item-divider>
          <ion-label>{{k.kelas}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let s of siswaaccyet;">
          <ion-item *ngIf="(s.kelasid==k.id)" routerLink="/homepetugas/detailchat//{{s.ortutoken}}/{{s.ortuid}}">
            <ion-label>{{s.nama}}</ion-label>
          </ion-item>
        </div>

      </ion-item-group>
    </ion-list>
  </ng-container>
</ion-content>