<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Tambah Informasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="padding-bottom: 0px;">
      <ion-card-title style="color: black;">Informasi Baru</ion-card-title>
      <ion-card-subtitle style="color: black;">Harap mengisi data dengan sebenar-benarnya. </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="stacked">Judul</ion-label>
          <ion-input type="text" [(ngModel)]="judul" name="judul"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Keterangan</ion-label>
          <ion-input type="text" [(ngModel)]="keterangan" name="keterangan"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Poster</ion-label>
          <ion-input type="file" accept="image/*" [(ngModel)]="image" name="image" (change)="changeListener($event)">
          </ion-input>
        </ion-item>
        <ion-list>
          <ion-label>Untuk siswa</ion-label>
          <ion-radio-group value="1">
            <ion-item>
              <ion-radio value="1" (click)='viewKelasFalse()'></ion-radio> &nbsp;
              <ion-label style="font-size: 14px;">Semua</ion-label>
            </ion-item>

            <ion-item>
              <ion-radio value="0" (click)='viewKelasTrue()'></ion-radio>&nbsp;
              <ion-label style="font-size: 14px;">Tertentu</ion-label>
            </ion-item>
          </ion-radio-group>
        </ion-list>
        <ion-card [hidden]="semua" style="background-color: whitesmoke;">
          <ion-card-header>
            <ion-card-subtitle style="color: black; text-align: center;">Kelas
            </ion-card-subtitle>
          </ion-card-header>
          <ion-list *ngFor="let item of kelas;">
            <ion-checkbox checked="false" (ionChange)="addArray(item.id)"></ion-checkbox>
            <ion-label> {{item.kelas}}</ion-label>
          </ion-list>
        </ion-card>

        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" fill="outline" routerLink="/homepetugas/information"
                class="ion-margin-start ion-margin-end ion-margin-bottom" type="submit" shape="round">
                Batal
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" (click)="save()" class="ion-margin-start ion-margin-end ion-margin-bottom"
                type="submit" shape="round">
                Simpan
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>

  </ion-card>
</ion-content>