<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Informasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-padding">
    <img
      src="http://assets.kompasiana.com/items/album/2021/07/07/fix-sosialilasi-5m-60e59a9506310e73a611a5e2.png?t=o&v=770" />
    <ion-card-header>
      <ion-card-subtitle>Informasi Kesehatan</ion-card-subtitle>
      <ion-card-title>COVID-19</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Masyarakat adalah garda terdepan untuk memutus rantai penyebaran Covid-19.
      Lakukan 5M untuk mengurangi resiko terkena COVID-19.
    </ion-card-content>
  </ion-card>
  <ion-fab routerLink="/homepetugas/addinfo" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>