<ion-content>
  <ion-toolbar color="primary">
    <ion-title>Informasi</ion-title>
  </ion-toolbar>

  <ion-card class="ion-padding" *ngFor="let i of infos" routerLink='/homepetugas/editinfo/{{i.id}}'>
    <img src="http://192.168.1.7/tasiuks/api/images/{{i.poster}}" />

    <ion-card-header>
      <!-- <ion-card-subtitle>{{i.judul}}</ion-card-subtitle> -->
      <ion-card-title>{{i.judul}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{i.keterangan}}
    </ion-card-content>
  </ion-card>
  <ion-fab routerLink="/homepetugas/addinfo" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>