<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kontak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>1A</ion-label>
      </ion-item-divider>

      <ion-item routerLink="/homepetugas/detailchat">
        <ion-label>Adam 1A - Hendra Bella</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Alan 1A - Aldo Finna</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>1B</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Brianna 1B - Brian Anna</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>2A</ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>Carla 2A - Carlos Angel</ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>