<ion-content>

  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homepetugas/chat">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kontak</ion-title>
  </ion-toolbar>

  <ion-searchbar type="text" debounce="500" (ionChange)="getItems($event)" placeholder="Cari nama/kelas/ortu siswa">
  </ion-searchbar>
  <div *ngIf="items==''">
    <ion-list>
      <ion-item-group *ngFor="let k of kelaskontak">
        <ion-item-divider>
          <ion-label>{{k.kelas}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let c of contact;">
          <ion-item *ngIf="(c.kelas==k.kelas)"
            routerLink="/homepetugas/detailchat//{{c.ortutoken}}/{{c.ortuid}}/{{c.tokendevice}}">
            <ion-label>{{c.namasiswa}} - Ibu {{c.ibu}} <span style="visibility: hidden">{{c.kelas}}</span>
            </ion-label>
          </ion-item>
        </div>

      </ion-item-group>
    </ion-list>
  </div>
  <div *ngIf="items!=''">
    <ion-list>
      <ion-item-group *ngFor="let k of kelaskontak">
        <ion-item-divider>
          <ion-label>{{k.kelas}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let i of items;">
          <ion-item *ngIf="(i.kelas==k.kelas)"
            routerLink="/homepetugas/detailchat/{{i.ortutoken}}/{{i.ortuid}}/{{i.tokendevice}}">
            <ion-label>{{i.namasiswa}} - {{i.ibu}} <span style="visibility: hidden">{{i.kelas}}</span></ion-label>
          </ion-item>
        </div>

      </ion-item-group>
    </ion-list>
  </div>
</ion-content>