<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homeortu/dashboard">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pesan</ion-title>
    <ion-buttons slot="end" (click)="call()">
      <ion-button>
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class="message">
    <ion-row style="padding-bottom: 5px;" *ngFor="let m of messages | async">
      <ion-col size='9' [offset]="m.myMsg ? 3 : 0" [ngClass]="{ 'my-msg' : m.myMsg }" *ngIf="m.from == userToken">
        <b>{{m.fromName}}</b><br>
        <span>{{m.msg}}</span>
        <div style="color:grey; font-size: small;" class="ion-text-right">
          {{m.createdAt?.toMillis() | date:'dd/MM/yyyy H:mm'}}
        </div>
      </ion-col>

      <ion-col size='9' [offset]="m.myMsg ? 3 : 0" [ngClass]="{ 'other-msg' : m.msgForMe }" *ngIf="m.to == userToken">
        <b>{{m.fromName}}</b><br>
        <span>{{m.msg}}</span>
        <div style="color:grey; font-size: small;" class="ion-text-right">
          {{m.createdAt?.toMillis() | date:'dd/MM/yyyy H:mm'}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center ion-no-padding">
      <ion-col size="9">
        <textarea [(ngModel)]="newMsg" class="msg-input">
        </textarea>
      </ion-col>

      <ion-col size="3">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg ===''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>