<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pesan</ion-title>
    <ion-buttons slot="end">
      <ion-button>
          <ion-icon slot="icon-only" name="call" ></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-grid>
   <ion-row *ngFor="let m of messages">
    <ion-col size='9' *ngIf="currentUser!== m.user" class="message other-msg">
      <b>{{m.user}}</b><br>
      <span>{{m.msg}}</span>
      <div style="color:grey; font-size: small;" class="ion-text-right">
        {{m.createdAt | date:'short'}}
      </div>
    </ion-col>

    <ion-col offset='3' size='9' *ngIf="currentUser=== m.user" class="message my-msg">
      <b>{{m.user}}</b><br>
      <span>{{m.msg}}</span>
      <div style="color: grey; font-size: small; " class="ion-text-right">
        {{m.createdAt | date:'short'}}
      </div>
    </ion-col>

   </ion-row>
 </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <ion-row class="ion-align-items-center ion-no-padding">
      <ion-col size="9">
        <textarea [(ngModel)]="newMsg" class="msg-input">

        </textarea>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg ===''" class="msg-btn" (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
