<ion-content class="ion-padding">
  <ion-card>
    <form>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Full Name</ion-label>
          <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input required type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input required type="tel" [(ngModel)]="phone" name="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input required type="password" [(ngModel)]="password" name="password"></ion-input>
        </ion-item>
        <ion-button  type="submit" (click)="register()" expand="block" shape="round">
         Register
        </ion-button>
      </ion-list>
    </form>
  </ion-card>

</ion-content>
