<ion-content>

  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homepetugas/confirmpemeriksaan">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pemeriksaan</ion-title>
  </ion-toolbar>

  <ion-list lines="none" *ngFor="let s of siswa">
    <ion-item lines="none" style="--background: inherit;">
      <ion-icon name='person' slot="start" style="width: 50px; height: 50px;">
      </ion-icon>
      <ion-label>
        <h3 style="font-weight: bold;">{{s.nama}}</h3>
        <h5>Kelas {{s.kelas}} / {{s.periode}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Periode Ajaran</ion-label>
      <ion-select [(ngModel)]="cbperiode" (ionChange)="cbChanged()" placeholder="{{defaultPeriode}}">
        <ion-select-option *ngFor="let p of periodes" value="{{p.id}}">{{p.periode}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <section>
      <ul *ngFor="let r of pemeriksaans">
        <div style="color:grey;padding-right: 10px;font-size: small;" class="ion-text-right"
          *ngIf="(r.tinggi !='' && r.berat !='')">
          {{r.tanggal | date:'dd/MM/yyyy'}}
        </div>
        <div *ngIf="(r.tinggi !='' && r.berat !='')">
          <li style="font-weight: bold;">Pemeriksaan Umum </li>
          <p style="font-size: 14px;">Tinggi Badan : {{r.tinggi}}</p>
          <p style="font-size: 14px;">Berat Badan : {{r.berat}}</p>
        </div>


        <div style="color:grey;padding-right: 10px;font-size: small;" class="ion-text-right" *ngIf="(r.hasil !='')">
          {{r.tanggal | date:'dd/MM/yyyy'}}
        </div>
        <div *ngIf="(r.hasil != '')">
          <li style="font-weight: bold;">Pemeriksaan Screening</li>
          <p style="font-size: 14px;"> Hasil : {{r.hasil}} </p>
          <label style="font-size: 14px;">Catatan : {{r.catatan}}</label>
        </div>
      </ul>


    </section> -->

    <ion-card *ngFor="let r of pemeriksaans">
      <ion-card-content>
        <div *ngIf="(r.tinggi !='' && r.berat !='')">
          <div>
            <div style="color:grey;padding-right: 10px;font-size: small;" class="ion-text-right"
              *ngIf="(r.tinggi !='' && r.berat !='')">
              {{r.tanggal | date:'dd/MM/yyyy'}}
            </div>


          </div>
          <ion-label style="font-weight: bold; color: black;" *ngIf="(r.tinggi !='' && r.berat !='')">Pemeriksaan Umum
          </ion-label>

          <p style="font-size: 12px; color: black; margin-top: 8px;">Tinggi Badan : {{r.tinggi}}</p>
          <p style="font-size: 12px; color: black;margin-top: 8px;">Berat Badan : {{r.berat}}</p>
        </div>
        <br>
        <div *ngIf="(r.hasil != '')">
          <ion-label style="font-weight: bold; color: black;">Pemeriksaan Screening </ion-label>
          <p style="font-size: 12px; color: black;margin-top: 8px;">Hasil : {{r.hasil}}</p>
          <p style="font-size: 12px; color: black;margin-top: 8px;">Catatan : {{r.catatan}}</p>
        </div>
        <form>
          <ion-grid>
            <ion-row>
              <ion-col class="ion-text-center">
                <ion-button routerLink="/homepetugas/editpemeriksaan/{{r.id}}/{{siswaid}}"
                  class="ion-margin-start ion-margin-end ion-margin-bottom" fill="outline" size="small" type="submit"
                  shape="round">
                  Ubah
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>

    <div *ngIf="cbperiode!=0 && done===2 && pemeriksaans.length ==0">
      <p style="text-align: center;">Tidak ada laporan pemeriksaan</p>
    </div>

  </ion-list>

  <ion-fab routerLink="/homepetugas/addpemeriksaan/{{siswaid}}/{{ortudevice}}" vertical="bottom" horizontal="end"
    slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>