<ion-content>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homeortu/dashboard">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Jadwal Kegiatan UKS</ion-title>
  </ion-toolbar>

  <ion-item>
    <ion-label>Filter : </ion-label>
    <ion-select [(ngModel)]="cbket" (ionChange)="cbChanged()" placeholder="Semua">
      <ion-select-option value="0">Semua</ion-select-option>
      <ion-select-option value="1">Butuh Konfirmasi</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let k of allnot">
    <ion-card-header>
      <ion-card-subtitle>{{k.jenis}}</ion-card-subtitle>
      <ion-card-title>{{k.nama}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tanggal : {{k.tanggal | date:'dd MMMM yyyy'}}<br>
      Pelaksana : {{k.pelaksana}}
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <form>
              <ion-button routerLink="/homeortu/formconfirm/{{siswaid}}/{{k.id}}" fill="outline" shape="round">
                Konfirmasi
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let k of allacc">
    <ion-card-header>
      <ion-card-subtitle>{{k.jenis}}</ion-card-subtitle>
      <ion-card-title>{{k.nama}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tanggal : {{k.tanggal | date:'dd MMMM yyyy'}}<br>
      Pelaksana : {{k.pelaksana}}
      <!-- <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <form>
              <ion-button routerLink="/homeortu/formconfirm/{{siswaid}}/{{k.id}}" fill="outline" shape="round">
                Konfirmasi
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let k of kelasnot">
    <ion-card-header>
      <ion-card-subtitle>{{k.jenis}}</ion-card-subtitle>
      <ion-card-title>{{k.nama}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tanggal : {{k.tanggal | date:'dd MMMM yyyy'}}<br>
      Pelaksana : {{k.pelaksana}}
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <form>
              <ion-button routerLink="/homeortu/formconfirm/{{siswaid}}/{{k.id}}" fill="outline" shape="round">
                Konfirmasi
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let k of kelasacc">
    <ion-card-header>
      <ion-card-subtitle>{{k.jenis}}</ion-card-subtitle>
      <ion-card-title>{{k.nama}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tanggal : {{k.tanggal | date:'dd MMMM yyyy'}}<br>
      Pelaksana : {{k.pelaksana}}
      <!-- <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <form>
              <ion-button routerLink="/homeortu/formconfirm/{{siswaid}}/{{k.id}}" fill="outline" shape="round">
                Konfirmasi
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let n of nonperizinan">
    <ion-card-header>
      <ion-card-subtitle>{{n.jenis}}</ion-card-subtitle>
      <ion-card-title>{{n.nama}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tanggal : {{n.tanggal | date:'dd MMMM yyyy'}}<br>
      Pelaksana : {{n.pelaksana}}
    </ion-card-content>
  </ion-card>
</ion-content>