<ion-content>
  <ion-toolbar color="primary">
    <ion-title>Pesan</ion-title>
  </ion-toolbar>

  <ion-list *ngFor="let c of chats" class="ion-no-padding">
    <ion-item routerLink="/homepetugas/detailchat/{{c.usertoken}}/{{c.ortuid}}/{{c.tokendevice}}">
      <ion-icon name='person' slot="start" style="width: 30px; height: 30px;">
      </ion-icon>
      <ion-label>
        <h2><b>{{c.namasiswa}}</b></h2>
        <span>{{c.pesan}}</span>
      </ion-label>
    </ion-item>

  </ion-list>
  <ion-fab routerLink="/homepetugas/contact" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>