<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pesan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/homepetugas/detailchat">
      <ion-icon name='person' slot="start" style="width: 30px; height: 30px;">
      </ion-icon>
      <ion-label>
        <h2>Santi 6C - Budi Susan</h2>
        <p>Begitu bu</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name='person' slot="start" style="width: 30px; height: 30px;">
      </ion-icon>
      <ion-label>
        <h2>Joshua 6B - Hendra Lina</h2>
        <p>Baik bu</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab routerLink="/homepetugas/contact" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>