<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detail Perizinan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item lines="none" style="--background: inherit;">
      <ion-label>
        <h1 style="font-weight: bold;">{{namakegiatan}}</h1>
        <span *ngIf="forall == 0">
          Kelas: <span *ngFor="let k of untuk; let i = index"> {{k.kelas}} {{i === kelas.length -1 ?
            ' ' : ','
            }}</span>
        </span>
        <span *ngIf="forall == 1">
          Untuk semua siswa
        </span>
        <br>Periode : {{periode}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-segment [(ngModel)]="tabActive">
    <ion-segment-button value="terima">
      <ion-label>Terima</ion-label>
    </ion-segment-button>
    <ion-segment-button value="tolak">
      <ion-label>Tolak</ion-label>
    </ion-segment-button>
    <ion-segment-button value="belum">
      <ion-label>Belum</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="tabActive === 'terima'">
    <ion-list>
      <ion-item-group *ngFor="let k of kelas">
        <ion-item-divider>
          <ion-label>{{k.kelas}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let s of siswaacc;">
          <ion-item *ngIf="(s.kelasid==k.id)" routerLink="/homepetugas/detailchat//{{s.ortutoken}}/{{s.ortuid}}">
            <ion-label>{{s.nama}}</ion-label>
          </ion-item>
        </div>

      </ion-item-group>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="tabActive === 'tolak'">
    <ion-list>
      <ion-item-group *ngFor="let k of kelas">
        <ion-item-divider>
          <ion-label>{{k.kelas}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let s of siswadeny;">
          <ion-item *ngIf="(s.kelasid==k.id)" routerLink="/homepetugas/detailchat//{{s.ortutoken}}/{{s.ortuid}}">
            <ion-label>{{s.nama}}</ion-label>
          </ion-item>
        </div>

      </ion-item-group>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="tabActive === 'belum'">
    <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center">
          <form>
            <ion-button (click)="remindkejadian()" fill="outline" shape="round">
              Kirim Pengingat
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-item-group *ngFor="let k of kelas">
        <ion-item-divider>
          <ion-label>{{k.kelas}}</ion-label>
        </ion-item-divider>
        <div *ngFor="let s of siswabelum;">
          <ion-item *ngIf="(s.kelasid==k.id)" routerLink="/homepetugas/detailchat//{{s.ortutoken}}/{{s.ortuid}}">
            <ion-label>{{s.nama}}</ion-label>
          </ion-item>
        </div>

      </ion-item-group>
    </ion-list>
  </ng-container>
</ion-content>