<ion-content>

  <ion-toolbar color="primary">
    <ion-title>Beranda</ion-title>
  </ion-toolbar>

  <!-- <ion-grid>
    <div id='container'>
      <ion-card full no-margin style='padding: 5%; background-color:rgb(208, 243, 255);' (click)="confirmPerizinan()">
        <ion-item-option color="transparancy" style="color: black;">
          <ion-icon name="megaphone" width="100%"></ion-icon> &nbsp;Kegiatan
        </ion-item-option>
        <h5 style="color: black; text-align:center;"><b>{{totalJumPerizinan}}</b>
        </h5>
        <p style="text-align: center;">Butuh Konfirmasi</p>
      </ion-card>

      <ion-card full no-margin style='padding: 5%; background-color:rgb(208, 243, 255);'>
        <ion-item-option color="transparancy" style="color: black;">
          <ion-icon name="megaphone" width="100%"></ion-icon> &nbsp;Laporan
        </ion-item-option>
        <h5 style="color: black; text-align:center;"><b>{{totalLaporan}}</b></h5>
        <p style="text-align: center;">Butuh Konfirmasi</p>
      </ion-card>
    </div>
  </ion-grid> -->

  <!-- <div class="poster"> -->
  <ion-card *ngFor="let s of siswas">
    <ion-item>
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{s.nama}} </ion-label>
      <ion-button fill="outline" slot="end" routerLink="/homeortu/rekammedis/{{s.idsiswa}}">Lihat</ion-button>
    </ion-item>

    <ion-card-content>
      Rekam medis atau laporan pemeriksaan dan kejadian siswa.<br>
      <ion-badge color="warning" *ngIf="totalLaporan !=0" style="margin-top: 5px;"> {{totalLaporan}} Butuh konfirmasi
        laporan </ion-badge>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>Jadwal Kegiatan UKS</ion-label>
      <ion-icon name="arrow-forward" slot="end" routerLink="/homeortu/kegiatanuks"></ion-icon>
    </ion-item>
    <ion-card-content *ngIf="totalJumPerizinan !=0">
      <ion-badge color="warning"> {{totalJumPerizinan}} Butuh konfirmasi perizinan
      </ion-badge>
    </ion-card-content>
  </ion-card>

  <span *ngIf="(ada == 1)" class="ion-padding"> Kegiatan terdekat : </span>
  <ion-card *ngFor="let k of kegiatans">
    <ion-card-header>

      <ion-badge color="primary" *ngIf="(k.jarak != 0)">{{k.jarak}} Hari lagi</ion-badge>
      <ion-badge color="primary" *ngIf="(k.jarak == 0)">Hari ini</ion-badge>

      <ion-card-subtitle style="color: primary;">{{k.jenis}}
      </ion-card-subtitle>
      <ion-card-title>{{k.nama}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tanggal : {{k.tanggal | date:'dd MMMM yyyy'}}<br>
      Pelaksana : {{k.pelaksana}}
    </ion-card-content>
  </ion-card>

  <!-- </div> -->

</ion-content>