<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Perizinan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pelayanan Kesehatan</ion-card-subtitle>
      <ion-card-title>Imunisasi</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tanggal : 13 Mei 2020<br>
      Pelaksana : SDN Kendangsari IV & Puskesmas
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <form>
              <ion-button routerLink="/homepetugas/detailconfirm" fill="outline" shape="round">
                Lihat
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Pelayanan Kesehatan</ion-card-subtitle>
      <ion-card-title>Dokter Kecil</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tanggal : 15 Mei 2020<br>
      Pelaksana : SDN Kendangsari IV
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <form>
              <ion-button (click)="confirm()" fill="outline" shape="round">
                Lihat
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- <ion-content>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/homepetugas/detailconfirm">
        <ion-label>Imunisasi</ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Dokter Kecil</ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-content> -->