<ion-content>

  <ion-toolbar color="primary">
    <ion-title>Informasi</ion-title>
  </ion-toolbar>

  <ion-card class="ion-padding" *ngFor="let i of infos">
    <img src="http://192.168.1.6/tasiuks/api/images/{{i.poster}}" />

    <ion-card-header>
      <!-- <ion-card-subtitle>{{i.judul}}</ion-card-subtitle> -->
      <ion-card-title>{{i.judul}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>{{i.keterangan}}
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-label class="ion-margin ion-align-items-center"
            style="color: black; margin-top: 8px; margin-bottom: 8px;">Lihat
            informasi lain <span style="color:blue; text-decoration: underline;"
              (click)="goDrive('https://drive.google.com/drive/folders/1gjbV0t41Io390A5F1e3I61hCoZxO80_C?usp=sharing')">
              Disini</span> </ion-label>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
</ion-content>