<ion-content [scrollEvents]="true">
  <ion-toolbar color="primary" class="top">
    <ion-buttons slot="start" routerLink="/homepetugas/chat">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pesan</ion-title>
    <ion-buttons slot="end" (click)="call()">
      <ion-button>
        <ion-icon slot="icon-only" name="call"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid style="padding-top: 60px; padding-bottom: 60px;">
    <ion-row *ngFor="let m of messages | async">
      <ion-col size='9' [offset]="m.myMsg ? 3 : 0" class="message" [ngClass]="{ 'my-msg' : m.myMsg }"
        *ngIf="m.to == ortuToken">
        <b>{{m.fromName}}</b><br>
        <span>{{m.msg}}</span>
        <div style="color:grey; font-size: small;" class="ion-text-right">
          {{m.createdAt?.toMillis() | date:'dd/MM/yyyy H:mm'}}
        </div>
      </ion-col>

      <ion-col size='9' class="message" [offset]="m.myMsg ? 3 : 0" [ngClass]="{ 'other-msg' : m.msgForMe }"
        *ngIf="m.from == ortuToken">
        <b>{{m.fromName}}</b><br>
        <span>{{m.msg}}</span>
        <div style="color:grey; font-size: small;" class="ion-text-right">
          {{m.createdAt?.toMillis() | date:'dd/MM/yyyy H:mm'}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab (click)="scrollBottom()" vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="light">
      <ion-icon name="arrow-down" color="dark"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-toolbar color="light" class="foot">
    <ion-row class="ion-align-items-center ion-no-padding">
      <ion-col size="9">
        <textarea [(ngModel)]="newMsg" class="msg-input">
        </textarea>
      </ion-col>

      <ion-col size="3">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="newMsg ===''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-content>