ion-content {
    --background: whitesmoke;
}

.message{
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap !important;
}
// .message ion-col:nth-child(even){
// padding-top: 5px;
// }

.other-msg{
    // padding: 10px !important;
    background-color: lightblue;
    color: black;
    // border-radius: 10px !important;

}

.my-msg{
    // padding: 10px !important;
    background-color: rgb(184, 240, 184);
    color:black;
    // border-radius: 10px !important;
}

.time{
    color: grey;
    float: right;
    font-size: small;
}

.msg-btn{
    --padding-start: 0.5em;
    --padding-end:1em;
}

.msg-input{
    width: 100%;
    border: 1px solid var(--ion-color-medium);
    border-radius: 8px;
    background: white;
    resize: none;
    padding-left: 10px;
    padding-right: 10px;
}

.foot{
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
//   background-color: red;
//   color: white;
  text-align: center;
}

.top{
    position: fixed;
  left: 0;
  top: 0;
  width: 100%;
//   background-color: red;
//   color: white;
//   text-align: center;
}