<ion-content>

  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homepetugas/detailberita/{{kejadianid}}/{{siswaid}}">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Tambah Detail Kejadian</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header style="padding-bottom: 0px;">
      <ion-card-title style="color: black;">Detail Kejadian Baru</ion-card-title>
      <ion-card-subtitle style="color: black;">Harap mengisi data dengan sebenar-benarnya. </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="stacked">Jam</ion-label>
          <ion-datetime displayFormat="DD-MMM-YYYY hh:mm A" pickerFormat="DD-MMM-YY HH:mm" [(ngModel)]="jam" name="jam"
            (ionChange)="onChangeDate($event)">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Jenis Penanganan</ion-label>
          <ion-input type="text" [(ngModel)]="penanganan" name="penanganan"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Ditangani oleh</ion-label>
          <ion-input type="text" [(ngModel)]="ditangani" name="ditangani"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Catatan</ion-label>
          <ion-input type="text" [(ngModel)]="catatan" name="catatan"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Kirim Gambar</ion-label>
          <ion-input type="file" accept="image/*" [(ngModel)]="image" name="image" (change)="changeListener($event)">
          </ion-input>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="block" fill="outline"
                routerLink="/homepetugas/detailberita/{{kejadianid}}/{{siswaid}}"
                class="ion-margin-start ion-margin-end ion-margin-bottom" type="submit" shape="round">
                Batal
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="block" (click)="save()" class="ion-margin-start ion-margin-end ion-margin-bottom"
                type="submit" shape="round">
                Simpan
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>

  </ion-card>
</ion-content>