<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ubah Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header style="padding-bottom: 0px;">
      <ion-card-title style="color: black;">Profil Orang Tua</ion-card-title>
      <ion-card-subtitle style="color: black;">Harap mengisi data dengan sebenar-benarnya. </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form>
        <ion-item>
          <ion-label position="stacked">Nama Ayah</ion-label>
          <ion-input type="text" [(ngModel)]="namaAyah" name="namaAyah"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Alamat Ayah</ion-label>
          <ion-input type="text" [(ngModel)]="alamatAyah" name="alamatAyah"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">No.HP Ayah</ion-label>
          <ion-input type="phone" [(ngModel)]="telpAyah" name="telpAyah"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nama Ibu</ion-label>
          <ion-input type="text" [(ngModel)]="namaIbu" name="namaIbu"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Alamat Ibu</ion-label>
          <ion-input type="text" [(ngModel)]="alamatIbu" name="alamatIbu"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">No.HP Ibu</ion-label>
          <ion-input type="text" [(ngModel)]="telpIbu" name="telpIbu"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="save()" class="ion-margin-start ion-margin-end ion-margin-bottom"
          type="submit" shape="round">
          Simpan
        </ion-button>
      </form>
    </ion-card-content>

  </ion-card>
</ion-content>