<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rekam Medis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hasil Konfirmasi</ion-card-subtitle>
      <ion-card-title>Pemeriksaan</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Rekam Medis
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <form>
              <ion-button routerLink="/homepetugas/detailconfirmrm" fill="outline" shape="round">
                Lihat
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hasil Konfirmasi</ion-card-subtitle>
      <ion-card-title>Kejadian</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Rekam Medis
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <form>
              <ion-button routerLink="/homepetugas/detailconfirmkej" fill="outline" shape="round">
                Lihat
              </ion-button>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>