<ion-content>

  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homepetugas/dashboard">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Rekam Medis</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hasil Konfirmasi Rekam Medis</ion-card-subtitle>
      <ion-card-title>Pemeriksaan</ion-card-title>
    </ion-card-header>
    <form>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button routerLink="/homepetugas/detailconfirmrm"
              class="ion-margin-start ion-margin-end ion-margin-bottom" type="submit" shape="round">
              Cek Konfirmasi
            </ion-button>
            <ion-button routerLink="/homepetugas/daftarsiswa/pemeriksaan" fill="outline"
              class="ion-margin-start ion-margin-end ion-margin-bottom" type="submit" shape="round">
              Lihat Pemeriksaan
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Hasil Konfirmasi Rekam Medis</ion-card-subtitle>
      <ion-card-title>Kejadian</ion-card-title>
    </ion-card-header>
    <form>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button routerLink="/homepetugas/detailconfirmkej"
              class="ion-margin-start ion-margin-end ion-margin-bottom ion-text-center" type="submit" shape="round">
              Cek Konfirmasi
            </ion-button>
            <ion-button fill="outline" routerLink="/homepetugas/daftarsiswa/kejadian"
              class="ion-margin-start ion-margin-end ion-margin-bottom" type="submit" shape="round">
              Lihat Kejadian
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>