<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none" *ngFor="let o of ortu">
    <ion-item lines="none" style="--background: inherit;">
      <ion-icon name='person' slot="start" style="width: 50px; height: 50px;">
      </ion-icon>
      <ion-label>
        <h3 style="font-weight: bold;">Bapak {{o.namaayah}} - <br> Ibu {{o.namaibu}}</h3>
        <h5>Orang Tua</h5>
      </ion-label>
    </ion-item>
  </ion-list>
  <form>
    <ion-button routerLink='/homeortu/editprofile' expand="block" fill="outline" shape="round">
      ubah profil
    </ion-button>
    <ion-button (click)="logout()" expand="block" color="primary" shape="round">
      keluar
    </ion-button>
  </form>
</ion-content>