<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Panggilan Darurat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-grid>
      <div id='container'>
        <ion-card full no-margin style='padding: 5%; background-color:rgb(208, 243, 255) '>
          <div style="padding-top: 5px;" class="ion-text-center">
            <ion-icon class="icon" name="call"></ion-icon>
          </div>
          <ion-card-content>
            <h5 style="text-align: center;"> Call Center 112 </h5>
          </ion-card-content>
        </ion-card>


        <ion-card full no-margin style='padding: 5%; background-color:rgb(208, 243, 255) '>
          <div style="padding-top: 5px;" class="ion-text-center">
            <ion-icon class="icon" name="flame"></ion-icon>
          </div>
          <ion-card-content>
            <h5 style="text-align: center;"> Damkar 113</h5>
          </ion-card-content>
        </ion-card>

        <ion-card full no-margin style='padding: 5%; background-color:rgb(208, 243, 255) '>
          <div style="padding-top: 5px;" class="ion-text-center">
            <ion-icon class="icon" name="medkit"></ion-icon>
          </div>
          <ion-card-content>
            <h5 style="text-align: center;"> Ambulans 119</h5>
          </ion-card-content>
        </ion-card>

        <ion-card full no-margin style='padding: 5%; background-color:rgb(208, 243, 255) '>
          <div style="padding-top: 5px;" class="ion-text-center">
            <ion-icon class="icon" name="car"></ion-icon>
          </div>
          <ion-card-content>
            <h5 style="text-align: center;"> Polisi 110</h5>
          </ion-card-content>
        </ion-card>


      </div>
    </ion-grid>


  </ion-content>
</ion-content>