<ion-content>

  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homepetugas/detailkejadian/{{siswaid}}">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Detail Kejadian</ion-title>
  </ion-toolbar>

  <ion-list>
    <!-- <section>
      <ul *ngFor="let d of details">
        <div style="color:grey;padding-right: 10px;font-size: small;" class="ion-text-right">
          {{d.jam | date:'dd/MM/yyyy'}}
        </div>
        <div *ngIf="(d.kejadian !=null)">
          <li>
            <b>Jam : {{d.jam | date:'H:mm'}}</b>
          </li>
          <p *ngIf="(d.penanganan !='')">Jenis Penanganan : {{d.penanganan}}</p>
          <p *ngIf="(d.ditangani !='')">Ditangani oleh : {{d.ditangani}}</p>
          <p>Catatan : {{d.catatan}}</p>
          <div *ngIf="(d.gambar !='' && d.gambar!='undefined')"><img
              src="http://192.168.1.8/tasiuks/api/images/{{d.gambar}}" /></div>
        </div>
      </ul>
    </section> -->
    <ion-card *ngFor="let d of details">
      <ion-item>
        <ion-label style="font-weight: bold; color: black;">Jam : {{d.jam | date:'H:mm'}}
        </ion-label>
        <div style="color:grey;padding-right: 10px;font-size: small;" class="ion-text-right">
          {{d.tanggal | date:'dd/MM/yyyy'}}
        </div>

      </ion-item>
      <ion-card-content>
        <div *ngIf="(d.kejadian !=null)">
          <p style="font-size: 12px; color: black;" *ngIf="(d.penanganan !='')">Jenis Penanganan :
            {{d.penanganan}}</p>
          <p style="font-size: 12px; color: black;margin-top: 8px;" *ngIf="(d.ditangani !='')">Ditangani oleh :
            {{d.ditangani}}</p>
          <p style="font-size: 12px; color: black;margin-top: 8px;" *ngIf="(d.catatan !='')">Catatan : {{d.catatan}}</p>
          <div *ngIf="(d.gambar !='' && d.gambar!='undefined')" style="margin-top: 8px;"><img
              src="http://192.168.1.8/tasiuks/api/images/{{d.gambar}}" /></div>
        </div>

      </ion-card-content>
    </ion-card>
    <div *ngIf=" done===2 &&details.length ==0">
      <p style="text-align: center;">Tidak ada Detail kejadian</p>
    </div>
  </ion-list>

  <ion-fab routerLink="/homepetugas/addberita/{{kejadianid}}/{{ortudevice}}/{{siswaid}}" vertical="bottom"
    horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>