<ion-content>

  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/homepetugas/confirmpemeriksaan">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kejadian</ion-title>
  </ion-toolbar>

  <ion-list lines="none" *ngFor="let s of siswa">
    <ion-item lines="none" style="--background: inherit;">
      <ion-icon name='person' slot="start" style="width: 50px; height: 50px;">
      </ion-icon>
      <ion-label>
        <h3 style="font-weight: bold;">{{s.nama}}</h3>
        <h5>Kelas {{s.kelas}} / {{s.periode}}</h5>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-label>Periode Ajaran</ion-label>
      <ion-select [(ngModel)]="cbperiode2" (ionChange)="cbChanged2()" placeholder="{{defaultPeriode}}">
        <ion-select-option *ngFor="let p of periodes2" value="{{p.id}}">{{p.periode}}</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <section>
      <ul *ngFor="let k of kejadians">
        <div style="color:grey;padding-right: 10px;font-size: small;" class="ion-text-right">
          {{k.tanggal | date:'dd/MM/yyyy'}}
        </div>
        <div *ngIf="(k.kejadian !=null)">
          <li style="font-weight: bold;">{{k.kejadian}} </li>
          <ion-grid>
            <ion-row>
              <ion-col size="6" class="ion-text-center">
                Waktu : {{k.tanggal | date:'H:mm'}}
              </ion-col>
              <ion-col size="6" class="ion-text-end">
                <ion-button routerLink="/homepetugas/detailberita/{{k.id}}/{{siswaid}}" fill="outline" shape="round"
                  size="small">
                  Detail
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </div>
      </ul>
    </section> -->
    <ion-card *ngFor="let k of kejadians">
      <ion-item>
        <ion-label style="font-weight: bold;">{{k.kejadian}} </ion-label>
        <ion-button fill="outline" slot="end" routerLink="/homepetugas/detailberita/{{k.id}}/{{siswaid}}">Detail
        </ion-button>
      </ion-item>

      <ion-card-content>
        {{k.tanggal | date:'dd/MM/yyyy'}} - {{k.tanggal | date:'H:mm'}}
      </ion-card-content>
    </ion-card>

    <div *ngIf="cbperiode2!=0 && done2===2 &&kejadians.length ==0">
      <p style="text-align: center;">Tidak ada laporan kejadian</p>
    </div>


  </ion-list>

  <ion-fab routerLink="/homepetugas/addkejadian/{{siswaid}}/{{ortudevice}}" vertical="bottom" horizontal="end"
    slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>